@use "../node_modules/bootstrap/scss/bootstrap.scss";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html {
    scroll-snap-type: y mandatory;
    scroll-padding: 56px 0;


}


section {
    scroll-snap-align: start;

}

::-webkit-scrollbar {
    width: 17px;

}

::-webkit-scrollbar-thumb {
    background: #414141;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
    transition: all 2s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #414141a1
}


a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    color: white;
}

.cta {
    border-radius: 1rem;
    padding: 1rem;
    background-color: #fec021;
    text-decoration: none;
    color: black;
}

.cta:hover {
    background-color: rgb(255, 226, 152);
    transition: all .2s linear;
}

p {
    font-size: 1.4rem;
}

.card {
    height: 400px;
    /* Set a fixed height for the card */
}

.card img {
    object-fit: cover;
    /* Ensure the image covers the entire container */
    height: 70%;
    /* Adjust the height of the image within the card */
}

.card-body {
    height: 30%;
    /* Adjust the height of the card body */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card:hover {
    filter: brightness(0.8);
    transition: all 0.3s linear;
}

.card-text {
    font-size: 1rem;
}